## –ü–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –∏—Å—Ö–æ–¥–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏, –∫–æ—Ç–æ—Ä–∞—è –±—É–¥–µ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –¥–ª—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ—Å—Ç–æ–≤ –≤ —Å–æ—Ü–∏–∞–ª—å–Ω–æ–π —Å–µ—Ç–∏.
#### - –ò–∑–≤–ª–µ—á–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö —Å —Å–µ—Ä–≤–µ—Ä–æ–≤ PostgreSQL
#### - –û–±—Ä–∞–±–æ—Ç–∫–∞ –∏ –≤—ã–¥–µ–ª–µ–Ω–∏–µ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –¥–ª—è –ø–æ—Å–ª–µ–¥—É—é—â–µ–≥–æ –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏.
#### - –ó–∞–≥—Ä—É–∑–∫–∞ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –Ω–∞ —Å–µ—Ä–≤–µ—Ä –¥–ª—è –¥–∞–ª—å–Ω–µ–π—à–µ–≥–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è.

In [29]:
import psycopg2
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
from sklearn.utils import shuffle
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer
import time
from sklearn.decomposition import PCA

In [11]:
engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)

In [12]:
user_info = pd.read_sql("""SELECT * FROM public.user_data""", con=engine)

In [13]:
print(user_info.shape)
user_info.head(2)

(163205, 8)

   user_id  gender  age country       city  exp_group       os source
0      200       1   34  Russia  Degtyarsk          3  Android    ads
1      201       0   37  Russia     Abakan          0  Android    ads

In [16]:
posts_info = pd.read_sql("""SELECT * FROM public.post_text_df""", con=engine)

In [17]:
print(posts_info.shape)
posts_info.head(2)

(7023, 3)

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business

### –û–±—Ä–∞–±–æ—Ç–∫–∞ —Ç–∞–±–ª–∏—Ü—ã user_info

#### –ö–∞–∫ –º—ã –ø–æ–º–Ω–∏–º, —É –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –µ—Å—Ç—å —è–≤–Ω—ã–µ –ø—Ä–µ–¥–ø–æ—á—Ç–µ–Ω–∏—è –≤ –æ—Ç–Ω–æ—à–µ–Ω–∏–∏ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã—Ö —Ç–µ–º–∞—Ç–∏–∫, –∫–æ—Ç–æ—Ä—ã–µ –æ–Ω–∏ —á–∞—â–µ –ø—Ä–æ—Å–º–∞—Ç—Ä–∏–≤–∞—é—Ç –∏ –æ—Ü–µ–Ω–∏–≤–∞—é—Ç –ø–æ–ª–æ–∂–∏—Ç–µ–ª—å–Ω–æ. –î–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –º—ã –∏–∑–≤–ª–µ—á–µ–º –µ–≥–æ –ø—Ä–µ–¥–ø–æ—á—Ç–µ–Ω–∏—è –∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö. –ß–µ–º –≤—ã—à–µ –∑–Ω–∞—á–µ–Ω–∏–µ, —Ç–µ–º –±–æ–ª—å—à–µ –∏–Ω—Ç–µ—Ä–µ—Å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –ø—Ä–æ—è–≤–ª—è–µ—Ç –∫ –¥–∞–Ω–Ω–æ–π —Ç–µ–º–∞—Ç–∏–∫–µ.

In [3]:
sql_text = "SELECT public.feed_data.user_id, public.post_text_df.topic, avg(public.feed_data.target) \
            FROM public.feed_data \
            JOIN public.post_text_df ON public.feed_data.post_id=public.post_text_df.post_id \
            WHERE public.feed_data.action='view' \
            GROUP BY public.feed_data.user_id, public.post_text_df.topic;"

In [2]:
def batch_load_sql(query: str) -> pd.DataFrame:
    CHUNKSIZE = 200000
    engine = create_engine(
    "postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
    "postgres.lab.karpov.courses:6432/startml"
)
    conn = engine.connect().execution_options(stream_results=True)
    chunks = []
    for chunk_dataframe in pd.read_sql(query, conn, chunksize=CHUNKSIZE):
        chunks.append(chunk_dataframe)
    conn.close()
    return pd.concat(chunks, ignore_index=True)

In [4]:
user_like = batch_load_sql(sql_text)

In [5]:
user_like

         user_id          topic       avg
0            200       business  0.071429
1            200          covid  0.096774
2            200  entertainment  0.285714
3            200          movie  0.170455
4            200       politics  0.068966
...          ...            ...       ...
1142350   168552  entertainment  0.000000
1142351   168552          movie  0.039216
1142352   168552       politics  0.000000
1142353   168552          sport  0.185185
1142354   168552           tech  0.000000

[1142355 rows x 3 columns]

In [6]:
user_like = user_like.pivot_table('avg', index='user_id', columns='topic')
user_like

topic,business,covid,entertainment,movie,politics,sport,tech
user_id,,,,,,,
200,0.071429,0.096774,0.285714,0.170455,0.068966,0.109375,0.153846
201,0.103448,0.063953,0.121212,0.122677,0.013889,0.023256,0.137931
202,0.052632,0.139241,0.037037,0.126812,0.254237,0.168831,0.000000
203,0.157895,0.183099,0.181818,0.182482,0.200000,0.224490,0.222222
204,0.125000,0.258065,0.200000,0.140625,0.100000,0.117647,0.333333
...,...,...,...,...,...,...,...
168548,0.083333,0.072289,0.105263,0.047945,0.025641,0.000000,0.250000
168549,0.000000,0.074627,0.000000,0.063158,0.225806,0.160000,0.000000
168550,0.034483,0.117647,0.086957,0.135802,0.000000,0.030303,0.142857
168551,0.047619,0.131148,0.176471,0.110000,0.026316,0.062500,0.066667
168552,0.000000,0.060606,0.000000,0.039216,0.000000,0.185185,0.000000

In [69]:
user_like.columns.name = None
user_like = user_like.reset_index()

In [7]:
user_like.isna().sum()

topic
business          6
covid             0
entertainment    20
movie             0
politics          0
sport             0
tech             54
dtype: int64

In [8]:
# –ù–µ–∫–æ—Ç–æ—Ä—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏ –Ω–µ –ø—Ä–æ—Å–º–∞—Ç—Ä–∏–≤–∞–ª–∏ –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω—ã–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∏. –ó–∞–ø–æ–ª–Ω–∏–º nan –Ω—É–ª—ë–º
user_like.fillna(value=0, inplace=True)

In [19]:
# –û–±—ä–µ–¥–∏–Ω–∏–º –ø–æ–ª—É—á–µ–Ω–Ω—É—é —Ç–∞–±–ª–∏—Ü—É —Å —Ç–∞–±–ª–∏—Ü–µ–π –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π
user_info_data = user_info.merge(user_like, left_on='user_id', right_on='user_id')

In [20]:
user_info_data

,user_id,gender,age,country,city,exp_group,os,source,business,covid,entertainment,movie,politics,sport,tech
0,200,1,34,Russia,Degtyarsk,3,Android,ads,0.071429,0.096774,0.285714,0.170455,0.068966,0.109375,0.153846
1,201,0,37,Russia,Abakan,0,Android,ads,0.103448,0.063953,0.121212,0.122677,0.013889,0.023256,0.137931
2,202,1,17,Russia,Smolensk,4,Android,ads,0.052632,0.139241,0.037037,0.126812,0.254237,0.168831,0.000000
3,203,0,18,Russia,Moscow,1,iOS,ads,0.157895,0.183099,0.181818,0.182482,0.200000,0.224490,0.222222
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads,0.125000,0.258065,0.200000,0.140625,0.100000,0.117647,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic,0.083333,0.072289,0.105263,0.047945,0.025641,0.000000,0.250000
163201,168549,0,18,Russia,Tula,2,Android,organic,0.000000,0.074627,0.000000,0.063158,0.225806,0.160000,0.000000
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic,0.034483,0.117647,0.086957,0.135802,0.000000,0.030303,0.142857
163203,168551,0,38,Russia,Moscow,3,iOS,organic,0.047619,0.131148,0.176471,0.110000,0.026316,0.062500,0.066667
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic,0.000000,0.060606,0.000000,0.039216,0.000000,0.185185,0.000000

In [21]:
# –í–µ—Ä—Å–∏—è –æ–ø–µ—Ä–∞—Ü–∏–æ–Ω–Ω–æ–π —Å–∏—Å—Ç–µ–º—ã –∏ –ø—Ä–∏–∑–Ω–∞–∫ –æ—Ç–∫—É–¥–∞ –ø—Ä–∏—à–µ–ª –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å —Å –æ—Ä–≥–∞–Ω–∏—á–µ—Å–∫–æ–≥–æ —Ç—Ä–∞—Ñ–∏–∫–∞ –∏–ª–∏ —Å —Ä–µ–∫–ª–∞–º—ã –Ω–µ —è–≤–ª—è—é—Ç—Å—è –≤–∞–∂–Ω—ã–º–∏ –¥–ª—è –Ω–∞—à–µ–π –º–æ–¥–µ–ª–∏, —É–¥–∞–ª–∏–º –∏—Ö.
user_info_data=user_info_data.drop(['os','source'], axis=1)
user_info_data

,user_id,gender,age,country,city,exp_group,business,covid,entertainment,movie,politics,sport,tech
0,200,1,34,Russia,Degtyarsk,3,0.071429,0.096774,0.285714,0.170455,0.068966,0.109375,0.153846
1,201,0,37,Russia,Abakan,0,0.103448,0.063953,0.121212,0.122677,0.013889,0.023256,0.137931
2,202,1,17,Russia,Smolensk,4,0.052632,0.139241,0.037037,0.126812,0.254237,0.168831,0.000000
3,203,0,18,Russia,Moscow,1,0.157895,0.183099,0.181818,0.182482,0.200000,0.224490,0.222222
4,204,0,36,Russia,Anzhero-Sudzhensk,3,0.125000,0.258065,0.200000,0.140625,0.100000,0.117647,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,0.083333,0.072289,0.105263,0.047945,0.025641,0.000000,0.250000
163201,168549,0,18,Russia,Tula,2,0.000000,0.074627,0.000000,0.063158,0.225806,0.160000,0.000000
163202,168550,1,41,Russia,Yekaterinburg,4,0.034483,0.117647,0.086957,0.135802,0.000000,0.030303,0.142857
163203,168551,0,38,Russia,Moscow,3,0.047619,0.131148,0.176471,0.110000,0.026316,0.062500,0.066667
163204,168552,1,16,Russia,Ivanteyevka,4,0.000000,0.060606,0.000000,0.039216,0.000000,0.185185,0.000000

#### –ó–∞–≥—Ä—É–∑–∏–º –ø—Ä–∏–∑–Ω–∞–∫–∏ –¥–ª—è –≤—Å–µ—Ö —é–∑–µ—Ä–æ–≤ –Ω–∞ —Å–µ—Ä–≤–µ—Ä

In [28]:
user_info_data.to_sql('ryagrig_users_lesson_22', con=engine, if_exists='replace')

205

### –û–±—Ä–∞–±–æ—Ç–∫–∞ —Ç–∞–±–ª–∏—Ü—ã post_info
#### –î–ª—è –ø–µ—Ä–≤–æ–π –º–æ–¥–µ–ª–∏ –∏—Å–ø–æ–ª—å–∑–µ–º TF-IDF. –ò–¥–µ—è –º–µ—Ç–æ–¥–∞ TF-IDF –∑–∞–∫–ª—é—á–∞–µ—Ç—Å—è –≤ —Ç–æ–º, —á—Ç–æ–±—ã –ø—Ä–∏–¥–∞–≤–∞—Ç—å –±–æ–ª—å—à–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –ª—é–±–æ–º—É —Ç–µ—Ä–º–∏–Ω—É, –∫–æ—Ç–æ—Ä—ã–π —á–∞—Å—Ç–æ –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –≤ –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–º –ø–æ—Å—Ç–µ, –Ω–æ –Ω–µ –≤–æ –º–Ω–æ–≥–∏—Ö –ø–æ—Å—Ç–∞—Ö –Ω–∞—à–µ–π —Ç–∞–±–ª–∏—Ü—ã.

In [22]:
tfidf = TfidfVectorizer(stop_words='english')
start_time = time.time()
tfidf_matrix = tfidf.fit_transform(posts_info['text'])

# –≤—ã—á–∏—Å–ª–µ–Ω–∏–µ —Å—Ä–µ–¥–Ω–µ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è TF-IDF –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –æ–±—ä–µ–∫—Ç–∞
tfidf_avg = tfidf_matrix.mean(axis=1)

# –∑–∞–º–µ–Ω–∞ —Å—Ç–∞—Ä–æ–π –∫–æ–ª–æ–Ω–∫–∏ —Å –æ–ø–∏—Å–∞–Ω–∏–µ–º –Ω–∞ –Ω–æ–≤—É—é, —Å–æ–¥–µ—Ä–∂–∞—â—É—é —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ TF-IDF –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –æ–±—ä–µ–∫—Ç–∞
posts_info['text_TFIDF'] = tfidf_avg
end_time = time.time()
elapsed_time = end_time - start_time
print(f'Time elapsed: {elapsed_time} seconds')

Time elapsed: 1.5737895965576172 seconds

In [23]:
# –ü—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ –≤–∏–¥–µ –º–∞—Ç—Ä–∏—Ü—ã TF-IDF, –≥–¥–µ –∫–∞–∂–¥–∞—è —Å—Ç—Ä–æ–∫–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –æ–¥–Ω–æ–º—É –ø–æ—Å—Ç—É, –∞ –∫–∞–∂–¥—ã–π —Å—Ç–æ–ª–±–µ—Ü —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç –≤–µ—Å—É TF-IDF –¥–ª—è –æ–ø—Ä–µ–¥–µ–ª–µ–Ω–Ω–æ–≥–æ —Å–ª–æ–≤–∞ –≤ –ø–æ—Å—Ç–µ.
tfidf_data = tfidf.fit_transform(posts_info['text']).toarray() 
tfidf_data

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.13219051, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.05039818, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [24]:
tfidf_data = pd.DataFrame(tfidf_data, index=posts_info.post_id, columns=tfidf.get_feature_names())

C:\Users\ocenk\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [25]:
tfidf_data

,00,000,0001,000bn,000m,000s,000th,001,001and,001st,...,ùì´ùìÆ,ùì´ùìÆùìΩùìΩùìÆùìª,ùì¨ùì∏ùìæùìªùìΩùìº,ùì±ùìÆùì™ùìªùì≤ùì∑ùì∞,ùì∂ùì™ùîÇ,ùìπùì±ùîÇùìºùì≤ùì¨ùì™ùìµ,ùìºùì∏ùì∏ùì∑ùìÆùìª,ùìºùìæùì´ùì∏ùìªùì≠ùì≤ùì∑ùì™ùìΩùìÆ,ùìΩùì±ùìÆ,ùìΩùì∏
post_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.132191,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.050398,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7316,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7317,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7318,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7319,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### –î–æ–±–∞–≤–∏–º —Ç—Ä–∏ –Ω–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–∞: 'TotalTfIdf', 'MaxTfIdf' –∏ 'MeanTfIdf', —Å–æ–¥–µ—Ä–∂–∞—â–∏—Ö, —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ, —Å—É–º–º—É, –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∏ —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ TF-IDF –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ—Å—Ç–∞.

In [26]:
posts_info['TotalTfIdf'] = tfidf_data.sum(axis=1).reset_index()[0]
posts_info['MaxTfIdf'] = tfidf_data.max(axis=1).reset_index()[0]
posts_info['MeanTfIdf'] = tfidf_data.mean(axis=1).reset_index()[0]
posts_info

,post_id,text,topic,text_TFIDF,TotalTfIdf,MaxTfIdf,MeanTfIdf
0,1,UK economy facing major risks\n\nThe UK manufa...,business,0.000179,9.198863,0.499797,0.000179
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,0.000239,12.305151,0.306730,0.000239
2,3,Asian quake hits European shares\n\nShares in ...,business,0.000256,13.203359,0.275247,0.000256
3,4,India power shares jump on debut\n\nShares in ...,business,0.000137,7.064717,0.551670,0.000137
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,0.000131,6.772273,0.424172,0.000131
...,...,...,...,...,...,...,...
7018,7315,"OK, I would not normally watch a Farrelly brot...",movie,0.000129,6.662949,0.260875,0.000129
7019,7316,I give this movie 2 stars purely because of it...,movie,0.000126,6.475045,0.391273,0.000126
7020,7317,I cant believe this film was allowed to be mad...,movie,0.000110,5.654622,0.560737,0.000110
7021,7318,The version I saw of this film was the Blockbu...,movie,0.000133,6.863538,0.231077,0.000133
7022,7319,Piece of subtle art. Maybe a masterpiece. Doub...,movie,0.000160,8.247867,0.169614,0.000160

#### –î–ª—è –ø–æ–Ω–∏–∂–µ–Ω–∏—è —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç–∏ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –∏—Å–ø–æ–ª—å–∑—É–µ–º –º–µ—Ç–æ–¥ –≥–ª–∞–≤–Ω—ã—Ö –∫–æ–º–ø–æ–Ω–µ–Ω—Ç (PCA). –ì–ª–∞–≤–Ω–∞—è —Ü–µ–ª—å –Ω–∞–π—Ç–∏ –Ω–æ–≤—ã–µ –Ω–µ–∫–æ—Ä—Ä–µ–ª–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –ø–µ—Ä–µ–º–µ–Ω–Ω—ã–µ, –Ω–∞–∑—ã–≤–∞–µ–º—ã–µ –≥–ª–∞–≤–Ω—ã–º–∏ –∫–æ–º–ø–æ–Ω–µ–Ω—Ç–∞–º–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–±—ä—è—Å–Ω—è—é—Ç –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –¥–∏—Å–ø–µ—Ä—Å–∏–∏ –≤ –∏—Å—Ö–æ–¥–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö.

In [27]:
# –¶–µ–Ω—Ç—Ä—É–µ–º –∑–Ω–∞—á–µ–Ω–∏—è tfidf
centered = tfidf_data - tfidf_data.mean()

In [30]:
# –ü–æ–Ω–∏–∂–∞–µ–º —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å –ø—Ä–∏–∑–Ω–∞–∫–æ–≤.
pca = PCA(n_components=10)
pca_decomp = pca.fit_transform(centered)

In [31]:
pca_decomp

array([[-0.07970145,  0.1514185 , -0.02513133, ...,  0.10645023,
        -0.11519921,  0.01244493],
       [-0.0736847 ,  0.17274072,  0.04968189, ...,  0.01330782,
        -0.00283431,  0.00358171],
       [-0.05730744,  0.09749233, -0.0249338 , ...,  0.02628666,
        -0.00608694, -0.00181695],
       ...,
       [ 0.07113059, -0.02424187, -0.09168134, ...,  0.02019619,
         0.00532001, -0.00248169],
       [ 0.06408179, -0.00573782, -0.08470069, ..., -0.00554318,
        -0.00386489,  0.00270863],
       [ 0.03338865, -0.0180011 , -0.02314369, ..., -0.03938031,
         0.01127111, -0.00141638]])

####  PCA –ø–æ–º–æ–≥ —É–¥–∞–ª–∏—Ç—å —à—É–º–æ–≤—ã–µ –∫–æ–º–ø–æ–Ω–µ–Ω—Ç—ã –∏–∑ –¥–∞–Ω–Ω—ã—Ö –∏ –≤—ã–¥–µ–ª–∏—Ç—å –Ω–∞–∏–±–æ–ª–µ–µ –∑–Ω–∞—á–∏–º—ã–µ –∞—Å–ø–µ–∫—Ç—ã –≤ –¥–∞–Ω–Ω—ã—Ö, —á—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å –ø–æ–ª–µ–∑–Ω–æ –¥–ª—è –ø–æ–≤—ã—à–µ–Ω–∏—è –∫–∞—á–µ—Å—Ç–≤–∞ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏.–ü–æ–Ω–∏–∑–∏–≤ —Ä–∞–∑–º–µ—Ä–Ω–æ—Å—Ç—å –ø—Ä–∏–º–µ–Ω–∏–º KNN, –∫–æ—Ç–æ—Ä—ã–π –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –Ω–∞ –æ—Å–Ω–æ–≤–µ –±–ª–∏–∑–æ—Å—Ç–∏ –æ–±—ä–µ–∫—Ç–æ–≤ –≤ –ø—Ä–æ—Å—Ç—Ä–∞–Ω—Å—Ç–≤–µ –ø—Ä–∏–∑–Ω–∞–∫–æ–≤. –≠—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å –±–æ–ª–µ–µ —ç—Ñ—Ñ–µ–∫—Ç–∏–≤–Ω–æ –∏ –±—ã—Å—Ç—Ä–æ.

In [32]:
n_clusters = 5

kmeans = KMeans(n_clusters=n_clusters, random_state=0).fit(pca_decomp)

# –î–æ–±–∞–≤–ª—è–µ–º –ø—Ä–∏–∑–Ω–∞–∫ –º–µ—Ç–∫–∞ –∫–ª–∞—Å—Ç–µ—Ä–∞, –¥–ª—è –∫–∞–∂–¥–æ–≥–æ –ø–æ—Å—Ç–∞.
posts_info['TextCluster'] = kmeans.labels_

dists_columns = [f"DistanceTo{ith}thCluster" for ith in range(1, n_clusters + 1)]

dists_df = pd.DataFrame(
    data=kmeans.transform(pca_decomp),
    columns=dists_columns
)

dists_df.head()

,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster
0,0.444728,0.460215,0.410973,0.404730,0.327258
1,0.316478,0.201295,0.270981,0.254154,0.148975
2,0.331828,0.392673,0.293103,0.279684,0.197841
3,0.289548,0.339505,0.227644,0.221550,0.121759
4,0.247473,0.309660,0.177376,0.164386,0.081970

In [33]:
posts_info= pd.concat((posts_info,dists_df), axis=1)
posts_info.head()

,post_id,text,topic,text_TFIDF,TotalTfIdf,MaxTfIdf,MeanTfIdf,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster
0,1,UK economy facing major risks\n\nThe UK manufa...,business,0.000179,9.198863,0.499797,0.000179,4,0.444728,0.460215,0.410973,0.404730,0.327258
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,0.000239,12.305151,0.306730,0.000239,4,0.316478,0.201295,0.270981,0.254154,0.148975
2,3,Asian quake hits European shares\n\nShares in ...,business,0.000256,13.203359,0.275247,0.000256,4,0.331828,0.392673,0.293103,0.279684,0.197841
3,4,India power shares jump on debut\n\nShares in ...,business,0.000137,7.064717,0.551670,0.000137,4,0.289548,0.339505,0.227644,0.221550,0.121759
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,0.000131,6.772273,0.424172,0.000131,4,0.247473,0.309660,0.177376,0.164386,0.081970

In [34]:
posts_info = posts_info.drop(['text_TFIDF'], axis=1)

#### –ó–∞–≥—Ä—É–∑–∏–º –ø—Ä–∏–∑–Ω–∞–∫–∏ –¥–ª—è –ø–æ—Å—Ç–æ–≤ –Ω–∞ —Å–µ—Ä–≤–µ—Ä

In [23]:
posts_info.to_sql('ryagrig_posts_info_lesson_22', con=engine, if_exists='replace')

23